{{ 'customer.css' | asset_url | stylesheet_tag }}

<div class="page-width pb-5 pb-8.5--desk">
  <div class="d-flex align-items-center justify-content-between mb-3 mb-3.5--desk">
    <h1 class="mb-0 pr-1">{{ 'customer.account.title' | t }}</h1>
    <a href="{{ routes.account_logout_url }}" class="link link--with-icon font-medium">
      {{ 'customer.log_out' | t }}
      {% render 'icon' with 'arrow-short', class: 'link__icon' %}
    </a>
  </div>

  <div>
    <div class="mb-2.5 mb-6--desk">
      <h2>{{ 'customer.orders.title' | t }}</h2>

      {% paginate customer.orders by 20 %}
        {%- if customer.orders.size > 0 -%}
      	  <div class="overflow-auto">
          <table role="table" class="table rte text-left">
            <caption class="visually-hidden">{{ 'customer.orders.title' | t }}</caption>
            <thead role="rowgroup">
              <tr role="row">
                <th id="ColumnOrder" scope="col" role="columnheader" class="py-1 pl-1 pr-1 pl-2--desk pr-2--desk">{{ 'customer.orders.order_number' | t }}</th>
                <th id="ColumnDate" scope="col" role="columnheader" class="py-1 pl-1 pr-1 pl-2--desk pr-2--desk">{{ 'customer.orders.date' | t }}</th>
                <th id="ColumnPayment" scope="col" role="columnheader" class="py-1 pl-1 pr-1 pl-2--desk pr-2--desk">{{ 'customer.orders.payment_status' | t }}</th>
                <th id="ColumnFulfillment" scope="col" role="columnheader" class="py-1 pl-1 pr-1 pl-2--desk pr-2--desk">{{ 'customer.orders.fulfillment_status' | t }}</th>
                <th id="ColumnTotal" scope="col" role="columnheader" class="py-1 pl-1 pr-1 pl-2--desk pr-2--desk">{{ 'customer.orders.total' | t }}</th>
              </tr>
            </thead>
            <tbody role="rowgroup">
              {%- for order in customer.orders -%}
                <tr role="row">
                  <td
                    id="RowOrder"
                    class="py-1 pl-1 pr-1 pl-2--desk pr-2--desk"
                    role="cell"
                    headers="ColumnOrder"
                    data-label="{{ 'customer.orders.order_number' | t }}"
                  >
                    <a href="{{ order.customer_url }}" aria-label="{{ 'customer.orders.order_number_link' | t: number: order.name }}">
                      {{ order.name }}
                    </a>
                  </td>
                  <td class="py-1 pl-1 pr-1 pl-2--desk pr-2--desk" headers="RowOrder ColumnDate" role="cell" data-label="{{ 'customer.orders.date' | t }}">
                    {{ order.created_at | time_tag: format: 'date' }}
                  </td>
                  <td class="py-1 pl-1 pr-1 pl-2--desk pr-2--desk" headers="RowOrder ColumnPayment" role="cell" data-label="{{ 'customer.orders.payment_status' | t }}">
                    {{ order.financial_status_label }}
                  </td>
                  <td class="py-1 pl-1 pr-1 pl-2--desk pr-2--desk" headers="RowOrder ColumnFulfillment" role="cell" data-label="{{ 'customer.orders.fulfillment_status' | t }}">
                    {{ order.fulfillment_status_label }}
                  </td>
                  <td class="py-1 pl-1 pr-1 pl-2--desk pr-2--desk" headers="RowOrder ColumnTotal" role="cell" data-label="{{ 'customer.orders.total' | t }}">
                    {{ order.total_price | money_with_currency }}</td>
                </tr>
              {%- endfor -%}
            </tbody>
          </table>
      	  </div>
        {%- else -%}
          <p>{{ 'customer.orders.none' | t }}</p>
        {%- endif -%}

        {%- if paginate.pages > 1 -%}
          {%- if paginate.parts.size > 0 -%}
              <nav class="pagination" role="navigation" aria-label="{{ 'general.pagination.label' | t }}">
                <ul role="list">
                {%- for part in paginate.parts -%}
                  <li>
                    {%- if part.is_link -%}
                      <a href="{{ part.url }}" aria-label="{{ 'general.pagination.page' | t: number: part.title }}">{{ part.title }}</a>
                    {%- else -%}
                      {%- if part.title == paginate.current_page -%}
                        <span aria-current="page" aria-label="{{ 'general.pagination.page' | t: number: part.title }}">{{ part.title }}</span>
                      {%- else -%}
                        <span>{{ part.title }}</span>
                      {%- endif -%}
                    {%- endif -%}
                  </li>
                {%- endfor -%}
                </ul>
              </nav>
          {%- endif -%}
        {%- endif -%}
      {% endpaginate %}
    </div>

    <div>
      <h2>{{ 'customer.account.details' | t }}</h2>

      <div class="rte">
        {{ customer.default_address | format_address }}
      </div>

      <a href="{{ routes.account_addresses_url }}" class="link link--with-icon font-medium mt-3">
        {{ 'customer.account.view_addresses' | t }} ({{ customer.addresses_count }})
        {% render 'icon' with 'arrow-short', class: 'link__icon' %}
      </a>
    </div>
  </div>
</div>
