{{ 'customer.css' | asset_url | stylesheet_tag }}

<div class="pb-5 pb-8.5--desk">
  <div class="page-width page-width--narrow">
    <div class="pt-8--desk mt-n3.85--desk mb-5 mb-7--desk pb-0">
      <h1>
        {{ 'customer.reset_password.title' | t }}
      </h1>
      <div class="rte mb-2 mb-1--desk">
        <p>
          {{ 'customer.reset_password.subtext' | t: email: email }}
        </p>
      </div>
      {%- form 'reset_customer_password' -%}
        {%- if form.errors -%}
          <p tabindex="-1" autofocus>
            <span class="visually-hidden">{{ 'accessibility.error' | t }} </span>
            {{ 'form.error_heading' | t }}
          </p>
          <ul class="mb-1">
            {%- for field in form.errors -%}
              <li>
                {%- if field == 'form' -%}
                  {{ form.errors.messages[field] }}
                {%- else -%}
                  {{ form.errors.translated_fields[field] | capitalize }}
                  {{ form.errors.messages[field] }}
                {%- endif -%}
              </li>
            {%- endfor -%}
          </ul>
        {%- endif -%}

        <div class="field">
          <label for="password" class="visually-hidden">
            {{ 'customer.reset_password.password' | t }}
          </label>
          <input
            class="field__input"
            type="password"
            name="customer[password]"
            id="password"
            autocomplete="new-password"
            {% if form.errors contains 'password' %}
              aria-invalid="true"
              aria-describedby="password-error"
            {% endif %}
            placeholder="{{ 'customer.reset_password.password' | t }}"
          >

          {%- if form.errors contains 'password' -%}
            <div class="mt-0.5">
              <small id="password-error">
                {{ form.errors.translated_fields.password | capitalize }}
                {{ form.errors.messages.password }}
              </small>
            </div>
          {%- endif -%}
        </div>

        <div class="field mt-0.5">
          <label for="password_confirmation" class="visually-hidden">
            {{ 'customer.reset_password.password_confirm' | t }}
          </label>
          <input
            class="field__input"
            type="password"
            name="customer[password_confirmation]"
            id="password_confirmation"
            autocomplete="new-password"
            {% if form.errors contains 'password_confirmation' %}
              aria-invalid="true"
              aria-describedby="password_confirmation-error"
            {% endif %}
            placeholder="{{ 'customer.reset_password.password_confirm' | t }}"
          >

          {%- if form.errors contains 'password_confirmation' -%}
            <div class="mt-0.5">
              <small id="password_confirmation-error">
                {{ form.errors.translated_fields.password_confirmation | capitalize }}
                {{ form.errors.messages.password_confirmation }}
              </small>
            </div>
          {%- endif -%}
        </div>

        <button type="submit" class="btn btn--primary mt-2">
          {{ 'customer.reset_password.submit' | t }}
        </button>
      {%- endform -%}
    </div>
  </div>
</div>
