<style>
  .header__heading-logo svg,
  img.header__heading-logo {
    max-width: {{ section.settings.logo_width_mobile }}px;
  }

  @media screen and (min-width: 767px) {
    .header__heading-logo svg,
    img.header__heading-logo {
      max-width: {{ section.settings.logo_width }}px;
    }
  }
</style>

<header class="header pt-0.85 pb-0.85 pt-1.5--desk pb-1.5--desk">
  <div class="page-width">
    <div class="grid grid--gapless grid--3-col align-items-center ml-0 mb-0">
      <div class="grid__item d-inline-flex"></div>
      <div class="grid__item">
        <div class="header__logo flex-center text-center">
          <span class="d-block focus-inset position-relative text-primary">
            {%- case section.settings.logo_type -%}
              {%- when 'vector' -%}
                {%- if section.settings.logo_code != blank -%}
                  <span class="header__heading-logo d-block" aria-label="{{ shop.name }} logo">
                    {{- section.settings.logo_code -}}
                  </span>
                {%- else -%}
                  <span class="header__heading-logo h2">{{ shop.name }}</span>
                {%- endif -%}
              {%- when 'raster' -%}
                {%- if section.settings.logo != blank -%}
                  {%- assign image_size = section.settings.logo_width -%}
                  <img
                    srcset="{{ section.settings.logo | image_url: width: image_size }} 1x, {{ section.settings.logo | image_url: width: image_size, scale: 2 }} 2x"
                    src="{{ section.settings.logo | image_url: width: image_size }}"
                    loading="lazy"
                    class="header__heading-logo"
                    width="{{ section.settings.logo.width }}"
                    height="{{ section.settings.logo.height }}"
                    alt="{{ section.settings.logo.alt | default: shop.name | escape }}"
                  >
                {%- else -%}
                  <span class="header__heading-logo h2">{{ shop.name }}</span>
                {%- endif -%}
            {% endcase %}
          </span>
        </div>
      </div>
      <div class="grid__item text-right">
        <button
          class="link link--with-icon font-medium no-js-hidden small-hide medium-hide"
          data-password-action="open"
        >
          {{ 'sections.main_password.open_password_form' | t }}
          {% render 'icon' with 'arrow-short', class: 'link__icon' %}
        </button>
        <button class="link font-medium hidden small-hide medium-hide" data-password-action="close">
          {{ 'sections.main_password.close_password_form' | t }}
        </button>
      </div>
    </div>
  </div>
</header>

{% schema %}
{
  "name": "t:sections.main_password_header.name",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.main_password_header.settings.header_1"
    },
    {
      "type": "select",
      "id": "logo_type",
      "options": [
        {
          "label": "t:sections.main_password_header.settings.logo_type.option_1.label",
          "value": "raster"
        },
        {
          "label": "t:sections.main_password_header.settings.logo_type.option_2.label",
          "value": "vector"
        }
      ],
      "default": "raster",
      "label": "t:sections.main_password_header.settings.logo_type.label"
    },
    {
      "type": "image_picker",
      "id": "logo",
      "label": "t:sections.main_password_header.settings.logo.label"
    },
    {
      "type": "range",
      "id": "logo_width",
      "min": 50,
      "max": 250,
      "step": 10,
      "default": 100,
      "unit": "t:sections.main_password_header.settings.logo_width.unit",
      "label": "t:sections.main_password_header.settings.logo_width.label"
    },
    {
      "type": "range",
      "id": "logo_width_mobile",
      "min": 50,
      "max": 250,
      "step": 10,
      "default": 100,
      "unit": "t:sections.main_password_header.settings.logo_width_mobile.unit",
      "label": "t:sections.main_password_header.settings.logo_width_mobile.label"
    },
    {
      "type": "text",
      "id": "logo_code",
      "label": "t:sections.main_password_header.settings.logo_code.label",
      "info": "t:sections.main_password_header.settings.logo_code.info"
    }
  ]
}
{% endschema %}
