<style>
  .template-password form {
    width: 100%;
    max-width: {{ section.settings.form_max_width }}px;
  }
</style>

<div class="d-flex flex-column justify-content-center pt-4 pt-0--desk w-100">
  <div class="mt-13--desk pt-2--desk" aria-hidden="false" data-form-wrapper>
    <div class="mx-n5 position-relative small-hide medium-hide z-behind">
      <div class="d-block rounded-ellipse w-100 position-absolute"></div>
    </div>
    <h1 class="mb-1.5">{{ section.settings.heading }}</h1>
    <div class="rte">{{ section.settings.text }}</div>

    {%- form 'customer', class: 'mt-2 mt-3.5-desk mx-auto' -%}
      {%- if form.posted_successfully? -%}
        <h3 class="mt-1" tabindex="-1" autofocus>
          {{ 'newsletter.success' | t }}
        </h3>
      {% else %}
        <input type="hidden" name="contact[tags]" value="newsletter">
        <div>
          <div class="field">
            <label class="visually-hidden" for="NewsletterForm--{{ section.id }}">
              {{ 'newsletter.label' | t }}
            </label>
            <input
              id="NewsletterForm--{{ section.id }}"
              type="email"
              name="contact[email]"
              class="field__input pr-5 pr-8--desk"
              value="{{ form.email }}"
              aria-required="true"
              autocorrect="off"
              autocapitalize="off"
              autocomplete="email"
              {% if form.errors %}
                autofocus
                aria-invalid="true"
                aria-describedby="ContactFooter-error"
              {% elsif form.posted_successfully? %}
                aria-describedby="ContactFooter-success"
              {% endif %}
              placeholder="{{ section.settings.placeholder }}"
              required
              data-focus
            >
            <button
              type="submit"
              class="newsletter-form__button field__button link link--with-icon"
              name="commit"
              aria-label="{{ 'newsletter.button_label' | t }}"
            >
              {% render 'icon' with 'arrow', class: 'link__icon' %}
            </button>
          </div>
          {%- if form.errors -%}
            <small id="ContactFooter-error">
              {{ form.errors.translated_fields.email | capitalize }}
              {{ form.errors.messages.email }}
            </small>
          {%- endif -%}
        </div>
      {%- endif -%}
    {%- endform -%}
  </div>

  <div class="d-flex flex-column mt-13--desk pt-2--desk hidden" aria-hidden="true" data-form-wrapper>
    <div class="mx-n5 position-relative small-hide medium-hide z-behind">
      <div class="d-block rounded-ellipse position-absolute w-100"></div>
    </div>
    <h2 class="h1 mb-1.5 mt-auto">{{ section.settings.password_heading }}</h2>
    {%- form 'storefront_password', class: 'mt-2 mt-3.5-desk mx-auto mb-auto' -%}
      <div class="newsletter-form__field-wrapper">
        <div class="field">
          <label class="visually-hidden" for="NewsletterForm--{{ section.id }}">
            {{ 'newsletter.label' | t }}
          </label>
          <input
            type="password"
            name="password"
            class="field__input pr-5 pr-8--desk"
            autocomplete="current-password"
            {% if form.errors %}
              aria-invalid="true"
              aria-describedby="PasswordLoginForm-password-error"
            {%- endif -%}
            placeholder="{{ section.settings.password_placeholder }}"
            data-focus
            required
          >
          <button
            type="submit"
            class="newsletter-form__button field__button link link--with-icon"
            name="commit"
            aria-label="{{ 'sections.main_password.storefront_enter' | t }}"
          >
            {% render 'icon' with 'arrow', class: 'link__icon' %}
          </button>
        </div>
        {%- if form.errors -%}
          <div class="mt-1 rte" role="status">
            <span class="visually-hidden">{{ 'accessibility.error' | t }}</span>
            <span>{{ 'sections.main_password.login_form_error' | t }}</span>
          </div>
        {%- endif -%}
      </div>
    {%- endform -%}
  </div>

  <div class="rte mt-auto mt-13--desk pt-8--desk text-1.23 text-center">
    <div class="pb-2 large-up-hide">
      <button class="link link--with-icon font-medium no-js-hidden" data-password-action="open">
        {{ 'sections.main_password.open_password_form' | t }}
        {% render 'icon' with 'arrow-short', class: 'link__icon' %}
      </button>
      <button class="link font-medium hidden" data-password-action="close">
        {{ 'sections.main_password.close_password_form' | t }}
      </button>
    </div>

    <p class="text-secondary">
      {{ 'sections.main_password.powered_by_shopify_html' | t -}}
      <br>
      {{ 'sections.main_password.admin_link_html' | t }}
    </p>
  </div>
</div>
<script>
  document.addEventListener('DOMContentLoaded', () => {
    // Variables
    var formToggle = document.querySelectorAll('[data-password-action]');
    var forms = document.querySelectorAll('[data-form-wrapper]');

    // Form jump preventing
    function findMaxHeight() {
      forms[0].removeAttribute('style');
      forms[1].removeAttribute('style');

      // Update selector to get up-to-date data
      let formsTemp = document.querySelectorAll('[data-form-wrapper]');
      let max = Math.max(formsTemp[0].offsetHeight, formsTemp[1].offsetHeight);

      formsTemp[0].style.height = max + 'px';
      formsTemp[1].style.height = max + 'px';
    }
    window.addEventListener('resize', findMaxHeight);
    findMaxHeight();

    // Switch Forms
    document
      .querySelector(':root')
      .style.setProperty('--header-height', document.querySelector('.header').offsetHeight + 'px');

    function formToggleHandle() {
      formToggle.forEach((btn) => {
        btn.classList.toggle('hidden');
      });
      forms.forEach((form) => {
        form.classList.toggle('hidden');

        // Revert value
        let ariaHiddenValue = !(form.getAttribute('aria-hidden') === 'true');
        form.setAttribute('aria-hidden', ariaHiddenValue);
      });
    }

    formToggle.forEach((btn) => {
      btn.addEventListener('click', () => {
        formToggleHandle();

        let targetFocus = document.querySelector('[data-form-wrapper][aria-hidden="false"] [data-focus]');
        if (!targetFocus) targetFocus.focus();
      });
    });

    // If password form was incorrect
    if (document.querySelector('input[name="password"][aria-invalid="true"]')) {
      document.querySelector('[data-password-action="open"]').click();
    }
  });
</script>

{% schema %}
{
  "name": "t:sections.main_password.name",
  "class": "page-width page-width--narrow d-flex flex-fill justify-content-center w-100 text-center--desk",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.main_password.settings.header_1"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "t:sections.main_password.settings.heading.label",
      "default": "Opening soon"
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "t:sections.main_password.settings.text.label",
      "default": "<p>Be the first to know about new collections and exclusive offers.</p>"
    },
    {
      "type": "text",
      "id": "placeholder",
      "label": "t:sections.main_password.settings.placeholder.label",
      "default": "your@email.com"
    },
    {
      "type": "header",
      "content": "t:sections.main_password.settings.header_2"
    },
    {
      "type": "text",
      "id": "password_heading",
      "label": "t:sections.main_password.settings.password_heading.label",
      "default": "Enter store using password:"
    },
    {
      "type": "text",
      "id": "password_placeholder",
      "label": "t:sections.main_password.settings.password_placeholder.label",
      "default": "Your password"
    },
    {
      "type": "header",
      "content": "t:sections.main_password.settings.header_3"
    },
    {
      "type": "range",
      "id": "form_max_width",
      "min": 400,
      "max": 1000,
      "step": 10,
      "default": 540,
      "unit": "t:sections.main_password.settings.form_max_width.unit",
      "label": "t:sections.main_password.settings.form_max_width.label"
    }
  ]
}
{% endschema %}
